* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  position: relative;
}

.slide-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.7rem;
  position: absolute;
  width: 100%;
  top: 20px;
  /* left: 50px; */
}

.slide-text h4 {
  font-weight: 500;
  font-size: 1.7rem;
  color: #333333;
}

.slide-text h2 {
  font-weight: 800;
  font-size: 2rem;
  color: #000000;
}

.slide-text p {
  font-weight: 400;
  font-size: 1rem;
  color: 434343;
  width: 90%;
}

.phone-info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 16px 35px 25px 16px;
  flex-wrap: wrap;
  background-color: #353535;
  width: 60vw;
  height: 18vh;
  gap: 2rem;
  position: absolute;
  bottom: 0px;
}
.info h4 {
  color: #ff9a45;
  font-weight: 500;
  font-size: 1.5rem;
}

.info p {
  color: #717171;
}

.box {
  min-height: 150px;
}
